

/* Body and structure
-------------------------------------------------- */
body {
  position: relative;
  padding-top: 50px;
  background-color: #fff;
}


.brand, .brand .span {
	white-space:nowrap;
}
